body {
    margin: 0;
    font-family: sans-serif;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col-2 {
    width: 10%;
    padding-left: 20px;
    padding-right:15px;
    }
.col-3 {
    width: 25%;
}   
.col-4 {
    width: 33.333%;
}
.col-6 {
    width: 50%;
}
.col-8 {
    width: 65%;  
}
.col-10{
    width: 100%;
}
.header {
    height: 70px;
}
.header .col-2 p{
    font-size: 25px;
    color: #828282;
    text-align: center;
    margin: 0 auto;
    padding: 10px 10px;
    border: 2px solid #ededed;
    border-radius: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f7f7f7;
}
.header img {
    height: 45px;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.subhead {
    display: flex; 
    justify-content: space-between;
}
.up {
    border: 1px solid #ededed;
} 
#date {
    margin-left: 15px;
    font-family: sans-serif;
    color: #828282;
    font-size: 15px;
    font-weight: bolder; 
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 15px;
}
.sub {
  font-size: 16px;
  font-weight: 700;
  color: #657496;
  letter-spacing: -1.1px;
  padding-right: 5px;
  }
.centdiv {
  font-size: 15px;
  color: #dfdfdf;
}
.log {
  font-size: 16px;
  font-weight: 700;
  color: #657496;
  letter-spacing: -1.3px;
  padding-left: 5px;
} 
#oreilly {
  width: 100%
}
#briefing {
    font-family: arial black;
    font-size: 32px;
    letter-spacing: -.9px;
    margin: 10px 0 0 20px
    
}
h2 {
    font-size: 27px;
    color: #aaa;
    font-weight: 600;
    margin: 5px 20px;
   
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #8ea4bb;
    font-weight: 700;
    margin-right: 20px;
}
#time {
    margin-left: 20px;
    color: #bbb;
    font-weight: bold;
}   
.read {
  font-size: 17px;
  font-weight: bold;
  color: #89b;
  padding-right: 5px;
}
.share {
    font-size: 17px;
  font-weight: bold;
  color: #89b;
  padding-left: 5px;
}
hr {
    border: 1px solid #ededed;
    width: 95%;
}
#ny {
  font-family: arial black;
  font-weight: bold;
  font-size: 30px;
  padding-left: 20px;
  letter-spacing: -2px;
  }
#list {
  font-family: serif;
  color: black;
  letter-spacing: -1px;
  font-size:  40px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.divide {
    width: 100%;
    height: 10px;
    background-color: #EEE;
    border-top: solid #d2d7dd;
    border-bottom: solid #d2d7dd;
    border-width: thin;
    margin-bottom: 10px;   
}
.col-8 h3{
    font-size: 16px;
    font-weight: 600;
    color: #5555;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 20px;
}
.col-8 p {
    margin: 5px 20px 50px 20px;
    font-family: times;
    color: gray;
    font-weight: bold;
    font-size: 25px;  
}
.col-4 img {
    display: block;
    margin: 20px auto;
    padding: 0;
    width: 60%;
}
.play {
    color: #79b;
    font-size: 35px;
    height: 55px;
    margin: 20px;
}
     



